{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block content %}
<div class='row text-center'>
  <div class="col-sm-3"></div>
<div class='col-sm-6'>
<h1>Zarejestruj sie</h1>
<form method="post" action=".">

  <div class="card text-left">
    <div class="card-body">
  {% csrf_token %}
  {{ form|crispy }}
  </div>
  </div>
  <input class='btn btn-block btn-primary' type="submit" value="{% trans 'Rejestruj' %}" />
</form>
</div>
   <div class="col-sm-3"></div>
</div>

<hr/>
<div class='row'>
<div class='col-sm-6 text-align-center'>
<p>Need to <a href="{% url 'auth_login' %}">Login</a>?</p>
</div>
</div>


{% endblock %}
