<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Viberr{% endblock %}</title>
    {% load staticfiles %}
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
	<style>
body
{
background-color: #F5F5F5;
}

a
{
font-size: 0.8em;
}
	</style>

</head>
<body>




<nav class="navbar navbar-expand-sm navbar-dark bg-faded" style="background-color: #424242; color: white;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Brand -->
    <a class="navbar-brand" href="#">Narzędzia Zyskowscy</a>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="nav-content">
        <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link" href="{% url 'music:item-view' %}">Przegladaj przedmioty</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'music:item-add' %}">Dodaj przedmiot</a>
            </li>

        </ul>
    </div>
</nav>


<div class="container-fluid">

    <div class="row">

        <div class="col-sm-2"></div>

        <div class="col-sm-8" style="background-color: white; padding: 1em; margin-top: 2em; margin-bottom: 2em;">
        {% block item %}
        {% endblock %}


















        </div>

        <div class="col-sm-2"></div>

    </div>

</div>


<!--Footer-->
<footer class="page-footer blue center-on-small-only" style="background-color: #424242; color: white; padding: 1em;">

    <!--Footer Links-->
    <div class="container-fluid">
        <div class="row">

            <!--First column-->
            <div class="col-md-6" style="font-size:10px;">
                <h6 class="title">Narzędzia Zyskowscy - wypożyczalnia</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut eros sed lorem fringilla sagittis. In eu mauris id ante pulvinar ultricies. Maecenas viverra sapien purus, sit amet dictum velit ultrices quis. Phasellus dignissim aliquam porta. Curabitur pellentesque euismod leo, sit amet lacinia erat tristique eu. Aenean in lectus fringilla, commodo quam vitae, semper est. Mauris ornare purus in fermentum lacinia. Sed quis turpis in diam tristique dapibus vel at est. Sed blandit placerat nibh, ut eleifend urna. Etiam imperdiet dui viverra dolor malesuada, non finibus urna porta. Aliquam vel tellus nisl. Fusce gravida finibus fringilla. Nam ac diam ac urna fringilla tristique. Phasellus elementum bibendum ullamcorper.</p>
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-md-6">
                <h5 class="title">Kontakt</h5>
                <ul class="list-unstyled">
                    <li>tel: 739 292 415</li>
                    <li>Grajewo, Konopnickiej 12c</li>
                    <li>Od poniedziałku do piątku 8:00 - 15:00</li>
                    <li>Zapraszamy!</li>
                </ul>
            </div>
            <!--/.Second column-->
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid" style="font-size: 0.8em;">
            © 2018 Copyright: ZyskowscyNarzedzia

        </div>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->



</body>
</html>