{% extends 'music/base.html' %}

{% block body %}

        
		<div class="row">
		
			<div class="col-sm-2"></div>
			
			<div class="col-sm-8">
		
				{% for album in object_list %}
				<div class="card">
				
				
					<div class="card-header">
						<a href="{% url 'music:detail' album.id %}">{{ album.artist }} - {{ album.album_title }}</a>
					</div>
					
					<div class="card-body">
						<img class="img-fluid" src="{{ album.album_logo.url }}" >
					</div>
					
					<div class="card-footer">
					
						<nav class="navbar navbar-expand-sm navbar-light bg-faded" style="font-size: 10px;">
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
						</button>

						<!-- Links -->
						<div >   
						<ul class="list-inline">
							<li class="list-inline-item">0</li>
							<li class="list-inline-item">Polub!</li>
							<li class="list-inline-item">Udostępnij</li>
						</ul>
						</div>
						</nav>

						<div class="form-group">
						<input type="text" class="form-control form-control-sm" placeholder="Dodaj komentarz">
						</div>
					
					</div>
				</div>
				
				<div style="height:1%;"></div>
				{% endfor %}
			
			</div>
			
			<div class="col-sm-2"></div>
			
			
		</div>
		

{% endblock %}